*{
    font-family: 'Inter', sans-serif;
    margin:0;
    padding:0;
    background-color: black;
    color:white;
    box-sizing: border-box;
}
#form-container{
    display:flex;
    flex-wrap: wrap;
}
#student-form input{
    margin-top:10px;
    margin-bottom: 10px;
    margin-left:35px;
    padding: 15px;
    border: 1px solid lightgray;
}
h1{
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 15px;
}
#student-form{
    width:100%;
}
#name, #age, #degree, #grade, #email{
    width:30%;
}
#submitBtn{
    background-color: white;
    color: black;
    margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 35%;
    padding: 15px;
}
#searchInput{
    margin: 15px 35px;
    width: 95%;
    padding: 15px;
    border: 1px solid gray;
}
#student-table{
    width:95%;
    margin: 30px 35px;
    border-collapse: collapse;
}
 th,td{
    padding:20px;
    text-align: left;
 }
tbody tr td button{
    border:none;
    outline:none;
    background-color: black;
    margin-left:20px;
}
